$dark-font-color: #202124;
$light-gray: #e0e0e0;
$dark-gray: #5f6368;
$finished-gray: #707070;
$hover-color: #f6f7f8;
$blue: #1a73e8;

@mixin date-nofocus-style {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 24px;
    width: 150px;
    font-size: .77rem;
    color: $blue;
    border: solid 1px $light-gray;
    border-radius: 15px;
    margin: 7px 0 0 52px;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: medium;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 100vh;
    box-shadow: -1px 0px 5px rgb(194, 194, 194);
}

.list-name-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 63px;
    padding: 0 6px 0 16px;

    #task-header {
        grid-area: 1 / 1 / 2 / 2;
        align-self: end;
        color: #80868b;
        font-size: .6rem;
        font-weight: 500;
        letter-spacing: 1.5px;
        padding-bottom: 7px;
    }

    #list-name {
        display: flex;
        align-items: flex-start;
        grid-area: 2 / 1 / 3 / 2;
        color: $dark-gray;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.05rem;
        margin-top: -3px;

        :hover {
            cursor: pointer;
        }
    }
}

.add-task {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: .9rem;
    color: $blue;
    border-top: solid #f1f3f4 1px;
    margin-bottom: 10px;

    :hover {
        cursor: pointer;
    }

    > * {
        margin-top: 7px;
    }

    #add-task-text {
        flex-grow: 1;
        margin-left: 3px;
    }

    #add-task-icon {
        fill: $blue;
    }

    #more-icon {
        fill: $dark-gray;
    }
}

.tasks-container {
    border-bottom: solid #e0e0e0 1px;
    flex-grow: 1;
    overflow: auto;

    :hover {
        background-color: $hover-color;

        .more-icon {
            visibility: visible;
        }
    }
}

.task {
    display: flex;
    flex-direction: column;
    padding: 11px 0 5px 0;
    overflow: hidden;

    .task-value,
    .details-value {
        display: block;
    }

    .task-main {
        display: flex;
        align-items: flex-start;

        .circle-container {
            position: relative;
            width: 46px;
            height: 20px;
        }

        .circle-container:hover {

            .circle-icon {
                display: none;
            }

            .check-icon {
                display: block;
            }
        }

        .check-icon {
            display: none;
        }

        .circle-icon {
            position: absolute;
            top: -15px;
        }

        .more-icon {
            position: absolute;
            top: -14px;
            right: -44px;
        } 

        .task-content {
            width: 172px;
            margin: 0 0 0 6px;
            color: $dark-font-color;
            word-wrap: break-word;
            font-size: .84rem;
            letter-spacing: .02rem;
            line-height: 1.1rem;
        }
    }

    .more-icon {
        visibility: visible;
        margin-right: -12px;
    }

    .task-details {
        margin: 2px 0 0 52px;
        color: $dark-gray;
        font-size: .73rem;
        font-weight: 300;
        letter-spacing: .02rem;
        overflow-wrap: anywhere;
        width: 140px;      
    }

    .task-date {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 24px;
        width: 140px;
        font-size: .77rem;
        color: $blue;
        border: solid 1px $light-gray;
        border-radius: 15px;
        margin: 7px 0 10px 52px;
        cursor: pointer;
    }

    .drag-icon {
        display: none;
    }
}

.time-picker {
    position: absolute;
    right: 10px;
    bottom: -7px;
    display: block;
    visibility: hidden;
    width: 20px;
}

textarea {
    display: none;
}

.task-clicked {
    background-color: $hover-color;
    position: relative;

    .more-icon {
        display: block;
    }

    .task-value,
    .details-value {
        display: none;
    }

    textarea {
        display: block;
        outline: none;
        border: 0;
        font-family: inherit;
        resize: none;
        background-color: $hover-color;
    }

    .task-details textarea {
        color: $dark-gray;
        font-size: .73rem;
        font-weight: 300;
        letter-spacing: .02rem;
    }

    .task-details {
        margin-top: 6px;
    }

    .task-date {
        margin-top: 9px;
        border: none;
        color: $dark-font-color;
        font-size: 0.73rem;
        border: solid 1px $light-gray;

        &:hover {
            background-color: #f0f2f3;
        }
    }
}

.completed-button {
    display: flex;
    align-items: center;
    height: 41px;
    width: 300px;
    cursor: pointer;

    .arrow-right-container {
        position: relative;
        height: 41px;
    }

    #arrow-right {
        position: absolute;
        top: -4px;
        fill: $finished-gray;
        transform: scale(.45);
    }

    #completed {
        color: $finished-gray;
        margin: 0 0 1px 48px;
        font-size: .9rem;
        letter-spacing: .03rem;
    }
}

.completed-list {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 4px;
    text-decoration: line-through;
    
    .task-details {
        margin-top: 0px;
    }

    :hover {
        background-color: $hover-color;
    }

    .trash-icon {
        right: -55px;
    }
}

.dropdown {
    display: none;
    max-height: 0;
    position: absolute;
    z-index: 1;
    padding: 9px 0 9px 0;
    width: 243px;
    border-radius: 4px;
    font-size: .87rem;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    color: $dark-font-color;
    background-color: white;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    cursor: pointer;

    :hover {
        background-color: $hover-color;
    }
}

.dropdown.dropdown-task-list {
    top: 62px;
}

.dropdown.dropdown-menu {
    top: 105px;
    right: 15px;
    z-index: 1;
}

.dropdown.dropdown-task-menu {
    // display: block;
    // max-height: fit-content;
    width: 192px;
    left: 65px;

    .trash-icon {
        left: 0px;
        top: -7px;
    }
}

.dropdown-header {
    font-size: .8rem;
    font-weight: 400;
    color: #80868b;
    margin: 9px 0 5px 20px;
}

.dropdown-element {
    padding: 9px 20px 9px 20px;
}

.dropdown-element.with-icon {
    padding: 9px 20px 9px 42px;

    .check-icon {
        top: -7px;
        left: 1px;
    }
}



.with-icon {
    display: flex;
    position: relative;
}

.break-line {
    width: 243px;
    height: 0;
    border-top: 1px solid rgb(197, 197, 197);
    margin: 9px 0 9px 0;
}

.task-icon-container {
    position: relative;
    height: 20px;
    width: 20px;
}

#add-task-icon, 
.more-icon, 
.circle-icon, 
.trash-icon,
.plus-icon {
    transform: scale(.4);
}

.check-icon {
    transform: scale(.5);
}

.more-icon,
.trash-icon,
.check-icon {
    fill: $dark-gray;
}

.check-icon,
.trash-icon {
    position: absolute;
    top: -15px;
}

.plus-icon {
    position: absolute;
    top: -7px;
    left: 0px;
}

#arrow-down-icon {
    fill: $dark-gray;
    transform: scale(.5);
    margin: -9px 0 0 -11px;
}

svg, img {
    cursor: pointer;
}

.task-date.hidden {
    display: none;
}

.dragover-top {
    border-top: $dark-gray solid 2px;
}

.dragover-bottom {
    border-bottom: $dark-gray solid 2px;
}
